body {
  text-align: center;
  background-image: url('images/dragon-dibujado-mano_53876-86938.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

body h1 {
  font-family: 'Rye', cursive;
  color: rgb(63, 9, 9);
  font-size: 4em;
  text-transform: uppercase;
}

body button {
  font-family: 'Artifika', serif;
  font-size: 25px;
  background-color: rgb(26, 25, 25);
  color: rgb(212, 192, 192);
  padding: 15px 25px;
  border: 1px solid rgb(63, 9, 9);
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 50px;
}
